<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Git Hub Repos using API</title>
  </head>
  <body>
    

 <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  	<div class="navbar-header">
  	<div class="navbar-collapse collapse" >
          <ul class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <li >
              <a href="#" th:href="@{/}">Home</a>
            </li>
           
          </ul>
        </div>
	</div>
</nav>
        
      </div>
  </body>
</html>